@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "helvetica neue", tahoma, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", arial, "hiragino sans gb", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 14px;
  color: #333;
  line-height: 1.42857143;
  background: #f5f7fa;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.dialog-form {
  padding: 0 50px;
}
